#main {
  text-align: center;
  padding-left: 15vw;
  padding-right: 15vw;
  gap: 20px;
}

.page-divider {
  width: 100%;
}

#welcome-prompt {
  text-align: center;
}

.container {
  padding: 15px;
  border-radius: 20px;
  justify-content: center;
}

.inner-container {
  width: 60%;
  height: 150px;
}

.flex-center {
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

#editor {
  border: 1px solid gray;
}

#input:focus {
  outline: none;
}

#input {
  border: 0;
  width: 100%;
  height: 95%;
}

#send-note-btn {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

#send-note-container {
  text-align: right;
}

#notes-header {
  gap: 10px;
}

#notes {
  margin: 0;
  padding: 0;
}

#notes > li {
  list-style-type: none;
  text-align: left;
  margin-bottom: 20px;
}

